* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.upBar {
    background-color: #22222C;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 60px;
}

.upBar .logo {
    display: flex;
    align-items: center;
}

.upBar .logo img {
    height: 40px;
}

.upBar .searchBar {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.upBar .searchBar input {
    width: 50%;
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    outline: none;
    background-color: white;
    color: black;
    text-align: center;
}

.upBar .loginButton {
    color: black;
    background-color: #FFF200;
    padding: 5px 15px;
    border-radius: 10px;
    text-decoration: none;
}

.main {
    display: flex;
    flex: 1;
}

.leftBlock {
    width: 20%;
    background-color: #292934;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftBlock .topicsBox {
    background-color: #D60606;
    color: white;
    width: 80%;
    padding: 10px;
    border-radius: 25px;
}

.leftBlock .topicsBox ul {
    list-style: none;
}

.leftBlock .topicsBox ul li {
    margin: 10px 0;
    padding: 5px 0;
    border-bottom: 1px solid white;
}

.centerBlock {
    flex: 1;
    background-color: white;
}

.footer {
    background-color: #22222C;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.footer span {
    border-bottom: 1px solid white;
}