* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
    /*upBar*/
    .upBar {
        background-color: #15151A;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        height: 60px;
        z-index: 50;
    }

    .upBar .logo {
        display: flex;
        align-items: center;
    }

    .upBar .logo img {
        height: 40px;
    }

    .upBar .searchBar {
        flex-grow: 1;
        display: flex;
        justify-content: center;
    }

    .upBar .searchBar input {
        font-family: "Inter";
        width: 25%;
        padding: 5px 10px;
        border: none;
        border-radius: 20px;
        outline: none;
        background-color: white;
        color: black;
        text-align: center;
    }

    .upBar .loginButton {
        font-family: "Inter";
        font-style: italic;
        font-weight: 900;
        font-size: small;
        color: black;
        background-color: #FFF200;
        padding: 5px 40px;
        border-radius: 20px;
        text-decoration: none;
    }

    .upBar .loginButton:hover{
        background-color: #9F9700;
    }

    /*main*/
    .main {
        display: flex;
        flex: 1;
    }

        /*leftBlock*/
        .leftBlock {
            width: 17%;
            background-color: #292934;
            display: flex;
            position: relative;
            z-index: 40;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            font-family: "Inter";
            font-weight: 300;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2), /* Ombra principale */
                        0px 1px 4px rgba(0, 0, 0, 0.1); /* Ombra leggera */
        }

            /*topicsBlock*/
            .topicsBlock{
                margin-top: 30px;
                padding-left: 20px;
                padding-right: 20px;
                width: 100%;
            }

            #topicsTitle{
                color:#6F55E1;
                font-weight: 600;
                font-family: "Lexend Mega";
            }

            .topicsBox {
                margin-top: 3px;
                background-color: #6F55E1;
                color: white;
                width: 100%;
                padding: 10px;
                border-radius: 10px;
            }

            .topicsBox ul {
                list-style: none;
            }

            .topicsBox ul li {
                margin: 10px 0;
                padding: 5px 0;
                border-bottom: 1px solid white;
            }

            /*settingsBlock*/
            .settingsBlock{
                margin-top: 20px;
                padding-left: 20px;
                padding-right: 20px;
                width: 100%;
            }

            #settingsTitle{
                color:#ED1010;
                font-weight: 600;
                font-family: "Lexend Mega";
            }

            .settingsBox {
                margin-top: 3px;
                background-color: #ED1010;
                color: white;
                width: 100%;
                padding: 10px;
                border-radius: 10px;
            }

            .settingsBox ul {
                list-style: none;
            }

            .settingsBox ul li {
                margin: 10px 0;
                padding: 5px 0;
                border-bottom: 1px solid white;
            }

            .settingsBox ul li a{
                text-decoration: none;
                color: white;
            }

        /*centerBlock*/
        .centerBlock {
                flex: 1;
                width:100%;
                background-image: url('../img/backgrounds/backgroundTopics.png');
                filter:blur(30px);
                background-size: cover;
               
        }

/*footer*/        
.footer {
    background-color: #15151A;
    height: 30px;
    display: flex;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: center;
    color: white;
}

.footer a{
    color: rgb(192, 185, 185);
    text-decoration: none;
}

.footer a:hover{
    text-decoration: underline;
    color: white;
}