* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
    /*upBar*/
    .upBar {
        background-color: #15151A;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        height: 60px;
        z-index: 50;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }

    .upBar .logo {
        display: flex;
        align-items: center;
    }

    .upBar .logo img {
        height: 40px;
    }

    .upBar .searchBar {
        flex-grow: 1;
        display: flex;
        justify-content: center;
    }

    .upBar .searchBar input {
        width: 25%;
        padding: 5px 10px;
        border: none;
        border-radius: 20px;
        outline: none;
        background-color: white;
        color: black;
        text-align: center;
        font-style: italic;
    }

    .upBar .searchBar input::placeholder {
        font-family: "Inter";
        color: #aaa;
        opacity: 1;
        transition: opacity 0.15s ease-in-out;
    }
    
    .upBar .searchBar input:focus::placeholder {
        opacity: 0;
    }

    .searchIcon{
        margin-left:3px;
        color:#15151A;
        width: 30px;
        height: 30px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
        border-radius: 50%;
    }

    .searchIcon:hover{
        background-color: #aaa;
    }

    .upBar .loginButton {
        font-family: "Inter";
        font-style: italic;
        font-weight: 900;
        font-size: small;
        color: black;
        background-color: #FFF200;
        padding: 5px 40px;
        border-radius: 20px;
        text-decoration: none;
    }

    .upBar .loginButton:hover{
        background-color: #9F9700;
    }

    .loginIcon{
        color: #ffffff;
    }

    #logoutButton{
        margin-left: 5px;
        font-family: "Inter";
        font-style: italic;
        font-weight: 900;
        color: rgb(255, 255, 255);
    }

    #logoutButton:hover{
        color: darkgray;
    }


    /*main*/
    .main {
        display: flex;
        flex: 1;
        margin-top: 60px; /* Spazio per la upBar */
        margin-bottom: 30px; /* Spazio per il footer */
    }

        /*leftBlock*/
        .leftBlock {
            width: 17%;
            background-color: #292934;
            display: flex;
            position: fixed;
            height: calc(100vh - 90px); /* Altezza totale meno upBar e footer */
            z-index: 40;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            font-family: "Inter";
            font-weight: 300;
            top: 60px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2), /* Ombra principale */
                        0px 1px 4px rgba(0, 0, 0, 0.1); /* Ombra leggera */
        }

            /*topicsBlock*/
            .topicsBlock{
                margin-top: 30px;
                padding-left: 20px;
                padding-right: 20px;
                width: 100%;
            }

            #topicsTitle{
                color:#6F55E1;
                font-weight: 600;
                font-family: "Lexend Mega";
            }

            .topicsBox {
                margin-top: 3px;
                background-color: #6F55E1;
                color: white;
                width: 100%;
                padding: 10px;
                border-radius: 10px;
            }

            .topicsBox ul {
                list-style: none;
            }

            .topicsBox ul li {
                margin: 10px 0;
                padding: 5px 0;
                border-bottom: 1px solid white;
            }

            /*settingsBlock*/
            .settingsBlock{
                margin-top: 20px;
                padding-left: 20px;
                padding-right: 20px;
                width: 100%;
            }

            #settingsTitle{
                color:#ED1010;
                font-weight: 600;
                font-family: "Lexend Mega";
            }

            .settingsBox {
                margin-top: 3px;
                background-color: #ED1010;
                color: white;
                width: 100%;
                padding: 10px;
                border-radius: 10px;
            }

            .settingsBox ul {
                list-style: none;
            }

            .settingsBox ul li {
                margin: 10px 0;
                padding: 5px 0;
                border-bottom: 1px solid white;
            }

            .settingsBox ul li a{
                text-decoration: none;
                color: white;
            }

            .login_icon {
                text-align: center;
            }

        /*centerBlock*/
        .centerBlock {
                flex: 1;
                margin-left: 17%; /* Per non coprire leftBlock */
                height: calc(100vh - 90px); /* Sottrae upBar e footer */
                overflow-y: auto; /* Permette lo scroll */
                background-color: #ffffff;

                background: linear-gradient(
                    to bottom right,
                    #ffcce7 0%,
                    #cd77ff62 20%,
                    #cce3ff 40%,
                    #ccffd3 60%,
                    #fff3cc 80%,
                    #ffe5cc 100%
                );

                display: flex;
                flex-direction: column; /* I div saranno disposti uno sotto l'altro */
                align-items: center;    /* Centra i div orizzontalmente */
                padding-bottom: 30px;
        }

            /*post*/
            .post{
                margin-top: 20px;
                width: 60%;
                max-width: 550px;
                border-radius: 10px;
            }
                /*postInfoBlock*/
                .postInfoBlock{
                    display: flex;
                }

                .postUserImage{
                    padding: 10;
                    top: 10px;
                    right: 10px;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    object-fit: cover;
                }

                .postUsername{
                    padding: 10px;
                    font-family: "Inter";
                    font-style: oblique;
                }

                /*postDataBlock*/
                .postDataBlock{
                    background-color: white;
                    padding: 10px;
                    border-radius: 10px;
                    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2), /* Ombra principale */
                            0px 1px 4px rgba(0, 0, 0, 0.1); /* Ombra leggera */
                }

                    /*postHeaderBox*/
                        .postTitle{
                            padding-left: 10px;
                            padding-right: 10px;
                            padding-top: 5px;
                            font-family: "Inter";
                            font-weight: 800;
                            font-size: larger;
                        }

                        .topicDiAppartenenza{
                            padding-left: 10px;
                            font-family: "Inter";
                            font-size: small;
                            font-style: italic;
                        }

                    /*postTagsBox*/
                    .postTagsBox{
                        padding-top: 20px;
                        padding-bottom: 20px;
                        padding-left: 10px;
                        padding-right: 10px;
                    }

                        .postTag{
                            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                            font-size: 15px;
                            border-radius: 5px;
                            padding-left: 3px;
                            padding-right: 3px;
                        }

                    /*postBodyBox*/
                    .postBodyBox{
                        font-family: "Inter";
                        font-size: 14px;
                        padding-left: 10px;
                        padding-right: 10px;
                    }

                    .imageContainer{
                        align-items: center;
                        justify-content: center;
                        display: flex;
                    }

                        .img{
                            width: 30px;
                            height: 40px;
                        }


                    /*postInteractionBox*/
                    .postInteractionBox{
                        display: flex;
                        margin-top: 10px;;
                        padding-top: 10px;
                        padding-left: 10px;
                        padding-right: 10px;
                    }
                    
                        .heartIcon .fa-heart{
                            color:#292934;
                            padding-right: 9px;
                        } 

                        .heartIcon .fa-heart:hover{
                            filter: brightness(2.8);
                        }

                        .commentIcon .fa-comment{
                            color:#292934;
                            padding-right: 9px;
                        }

                        .commentIcon .fa-comment:hover{
                            filter: brightness(2.8);
                        }

                        .bookmarkIcon .fa-bookmark{
                            color:#292934;
                        }

                        .bookmarkIcon .fa-bookmark:hover{
                            filter: brightness(2.8);
                        }

            /*postComments*/
            .postComments{
                display: none;
                width: 60%;
                max-width: 550px;
                border-radius: 10px;
                margin-top: 10px;
                margin-bottom: 20px;
                box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2), /* Ombra principale */
                            0px 1px 4px rgba(0, 0, 0, 0.1); /* Ombra leggera */
            }

                /*commentsSubmitBlock*/
                .commentSubmitBlock{
                    display: flex;
                    margin: 20px;
                    border-bottom: 2px solid #aaa;
                }

                .commentInsertionBar{
                    font-family: "Inter";
                    flex-grow: 1;
                    padding: 8px;
                    border: none;
                    background-color: transparent;
                    outline: none;
                    font-size: 13px;
                }

                .commentButton{
                    border: none;
                    background-color: transparent;
                    margin-bottom: 5px;
                    margin-left: auto;
                    height: 30px;
                    width: 30px;
                    border-radius: 50%;
                    justify-content: center;
                    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
                }

                .commentButton:hover {
                    background-color: rgba(0, 0, 0, 0.1);
                }

                /*commentBlock*/
                .commentBlock{
                    font-family: "Inter";
                    font-size: 14px;
                    padding-left: 20px;
                    padding-right: 20px;
                    padding-bottom: 10px;
                    border-color: #15151A;
                }

                    /*commentInfoBox*/
                    .commentInfoBox{
                        display: flex;
                        align-items: center; /* Allinea verticalmente */
                    }

                    .commentUserImage{
                        margin-right: 3px;
                        width: 22px;
                        height: 22px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    .commentUsername{
                        font-family: "Inter";
                        font-weight: 600;
                    }

                    /*commentDataBox*/
                    .commentDataBox{
                        margin: 3px;
                    }

/*footer*/        
.footer {
    background-color: #15151A;
    height: 30px;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    align-items: center;
    justify-content: center;
    color: white;
}

.footer a{
    color: rgb(192, 185, 185);
    text-decoration: none;
}

.footer a:hover{
    text-decoration: underline;
    color: white;
}