* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    height: 100vh;
}

    .leftBlock {
        width: 20%;
        background-color: #292934;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        height: 100%;
    }

        /*mySHubjectBox*/
        .mySHubjectBox {
            width: 100%;
            background-color: #D60606;
            color: white;
            padding: 10px;
            border-radius: 25px;
            text-align: center;
            padding-bottom: 3px;
        }

        .mySHubjectBox h1 {
            font-size: 25px;
            margin-bottom: 10px;
            align-self: center;
        }

        /*home button*/
        .home-button {
            position: absolute;
            bottom: 20px;
            background-color: #FFF200;
            color: black;
            border: 2px solid #292934;
            border-radius: 20px;
            padding: 10px 20px;
            cursor: pointer;
            font-size: 16px;
            font-family: "Inter";
            font-style: italic;
            font-weight: 900;
        }

        .home-button:hover {
            background-color: #9F9700;
        }

    .rightBlock {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        overflow-y: auto; /* Permette lo scroll */
    }

        .upbar{
            flex-direction: row;
            align-items:center;
            justify-content: center;
            display: flex;
            margin-top: 3vh;
            width: 100%;
            position: relative;
        }

            /*inputSearchBar*/
            .inputSearchBar {
                width: 50%;
                background-color: #292934;
                border-radius: 25px;
                padding: 10px;
                text-align: center;
                font-size: 17px;
                color: #ffffff;
                border: none;
            }

            .inputSearchBar::placeholder {
                font-family: "Inter";
                color: #aaa;
                opacity: 1;
                transition: opacity 0.15s ease-in-out;
                font-style: italic;
            }

            .searchIcon{
                margin-left: 1vh;
                background-color: #292934;
                color: #aaa;
                width: 40px;
                height: 40px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
            }

            /*aggiungiButton*/
            .aggiungiButton {
                top: 2%;
                right: 5%;
                width: 100px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: black;
                cursor: pointer;
                position: absolute;
                right: 0; /* Sposta il pulsante tutto a destra */
                margin-right: 2vh;
                font-family: "Inter";
                font-style: italic;
                font-weight: 900;
                font-size: large;
                background-color: #FFF200;
                padding: 15px 60px;
                border-radius: 20px;
                text-decoration: none;
            }

            .aggiungiButton:hover {
                background-color: #9F9700;
            }

         /* Sfondo sfocato */
         #overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            backdrop-filter: blur(5px);
            z-index: 10;
        }

        /* Finestra di drop */
        #dropZone {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 50%;
            height: 30%;
            background-color: rgba(0, 0, 0, 0.8);
            color: white;
            border: 2px dashed white;
            text-align: center;
            line-height: 30vh;
            font-size: 20px;
            z-index: 11;
            border-radius: 10px;
        }

        /* Bottone chiusura */
        #closeButton {
            position: absolute;
            top: 10px;
            right: 15px;
            background: red;
            color: white;
            border: none;
            font-size: 18px;
            padding: 5px 10px;
            cursor: pointer;
            border-radius: 50%;
        }

        #closeButton:hover {
            background: darkred;
        }

        .griglia {
            margin-top: 3vh;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(150px, 2fr));
            background-color: transparent;
            padding: 1vh;
            gap: 3vh;
            width: 90%; /* Assicura che la griglia occupi tutta la larghezza disponibile */
        }
        
            .grid-item {
                min-height: 150px; /* Altezza minima */
                background-color: #ffffff;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                border-radius: 10px;
                font-size: 14px;
                color: #333;
            }

                .iconaFile{
                    font-size: 13vh;
                    margin-top: 6px;
                }

                .fileName{
                    color: black;
                    font-size: 16px;
                    font-weight: bold;
                    text-align: center;
                    white-space: nowrap; /* Impedisce il testo di andare a capo */
                    overflow: hidden; /* Nasconde il testo che straborda */
                    text-overflow: ellipsis; /* Aggiunge i "..." quando il testo è troppo lungo */
                    display: block;
                    width: 90%; /* Impedisce che il testo si allarghi troppo */
                }

                .fileName:hover{
                    color: blue;
                    cursor: pointer;
                }
