body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #292934; /* Colore di sfondo viola */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.centerBlock {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signupBox {
    background-color: #15151A; /* Colore rosso */
    color: white;
    padding: 20px 30px; /* Aggiunto padding orizzontale uniforme */
    border-radius: 8px;
    text-align: center;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #ffffff;
    margin-bottom: 20px;
}

input {
    display: block;
    width: calc(100% - 20px); /* Compensare per il padding */
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: white; /* Colore rosa */
}

.buttonsBox {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button {
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}

.signupCancelButton {
    background-color: #FFF100; 
}

.signupConfirmationButton {
    background-color: #FFF100; 
}

button:hover {
    background-color: #9F9700;
}
